@using Taxify.Domain.Entities;
<!DOCTYPE html>
<html lang="en">
@{
    Layout = "Menubar";
}

@model User



<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper  font-poppins mt-3">
        <div class="wrapper wrapper--w680 ">
            <div class="card card-4 mb-0">
                <div class="card-body">
                    <h2 class="title">User</h2>
                    <form method="POST" asp-action="Editer" asp-route-id ="@Model.Id">
                        <div class="row row-space">
                            <div class="col-5">
                                <div class="input-group">
                                    <label asp-for="Firstname" class="label">first name</label>
                                    <input class="input--style-4" value="@Model.Firstname" type="text" asp-for="Firstname">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <label class="label" asp-for="Lastname">last name</label>
                                    <input class="input--style-4" type="text" value="@Model.Lastname" asp-for="Lastname">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group">
                                        <label class="label" asp-for="Username">Username</label>
                                        <input class="input--style-4" type="text" value="@Model.Username" asp-for="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">
                                            Male
                                            <input type="radio" value="@Model.Gender" asp-for="Gender" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            Female
                                            <input type="radio"  name="gender">
                                            <span asp-for="Gender" class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-5">
                                <div class="input-group">
                                    <label class="label">Role</label>
                                    <input class="input--style-4 blockquote" readonly="readonly" type="email" value="@Model.Role" name="Role">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="input-group">
                                    <label class="label" asp-for="Phone">Phone Number</label>
                                    <input class="input--style-4" value="@Model.Phone" asp-for="Phone" type="text" >
                                </div>
                            </div>
                        </div>

                        <div class="row row-space">
                            <button class="mt-3 mb-3 bg-white text-white" type="submit">Edit</button>
                        </div>

                        <div class="d-flex justify-content-between">

                            <div class="position-absolute start-0 bottom-0 ms-5 mb-2">
                                <a href="@Url.Action("Users")" class="btn btn--radius-2 bg-dark" type="submit">Back</a>
                            </div>

                            <div class="position-absolute me-5 mb-2 bottom-0 end-0" >
                                <button class="btn btn--radius-2 bg-dark" type="submit">Edit</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->